* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'News Cycle', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

main {
    float: left;
    overflow: auto;
    height: 100vh;
}

.column-1 {
    float: left;
    width: 300px;
    height: 550px;
    padding-top: 30px;
    padding-right: 30px;
}

.column-2 {
    float: left;
    width: 300px;
    height: 520px;
    padding-top: 30px;
    padding-right: 30px;
}

article {
    background: white;
    border-top: 7px solid rgba(102, 102, 102, 0.352);
    padding: 20px;
    overflow: auto;
    cursor: pointer;
}

h1 {
    color: #0974b3;
}

.date {
    color: #666;
}

img {
    object-fit: cover;
    object-position: right;
 }

.zoom {
    opacity: 1;
} 

p {
    padding-bottom: 10px;
    color: #666;
    margin: 0.7em 0 0.7em 0;
}

.float-left {
    float: left;
    width: 150px;
    height: 220px;
    margin-right: 20px;
}

.float-left-2 {
    float: left;
    width: 150px;
    height: 200px;
    margin-right: 20px;
}

.btn {
    border: 5px solid #0974b3;
    border-radius: 20px 0 20px 0;
    background: #0974b3;
    color: white;
    text-align: center;
    padding: 20px;
}

article:hover {
    border-top: 7px solid #0974b3;
    transform: translateY(-10px);
}

.btn:hover {
    background: #073955;
    border: 5px solid #073955;
    border-radius: 20px 0 20px 0;
}

.float-left:hover {
    background: url(zoom.png);
    opacity: 0.8;
}

.float-left-2:hover {
    background: url(zoom.png);
    opacity: 0.8;
}